security-key.txt
Examples/exp-alpha/data*
keys_for_slack
C++/VideoCapture.o
C++/VideoCapture
Videos/
*.o
*.pyc
Capture/C++/VideoCapture
venvs
build/
.coverage*
.dir-locals.el
dist/
*.egg-info
.env.*
!.env.local
.flake8
.idea/
.mypy_cache/
*.pid
*.pyc
.python-version

