arabic-reshaper==2.1.0
astunparse==1.6.3
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
cycler==0.10.0
decorator==4.4.2
dukpy==0.2.3
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py==2.2.0
future==0.18.2
gevent==20.9.0
gitdb==4.0.5
GitPython==3.1.8
glfw==1.12.0
greenlet==0.4.17
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
javascripthon==0.11
jdcal==1.4.1
jedi==0.17.2
json-tricks==3.15.3
kiwisolver==1.2.0
macropy3==1.1.0b2
matplotlib==3.3.2
moviepy==1.0.3
msgpack==1.0.0
msgpack-numpy==0.4.7
numexpr==2.7.1
numpy==1.19.2
opencv-python==4.4.0.44
openpyxl==3.0.5
pandas==1.1.2
parso==0.7.1
Pillow==8.3.2
proglog==0.1.9
psutil==5.7.2
PsychoPy==2020.2.4.post1
pycparser==2.20
pyglet==1.5.7
pyobjc-core==6.2.2
pyobjc-framework-Cocoa==6.2.2
pyobjc-framework-Quartz==6.2.2
PyOpenGL==3.1.5
pyOpenSSL==19.1.0
pyosf==1.0.5
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyserial==3.4
python-bidi==0.4.2
python-dateutil==2.8.1
python-gitlab==2.5.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
questplus==2019.4
requests==2.24.0
scipy==1.5.2
six==1.15.0
smmap==3.0.4
sounddevice==0.4.1
SoundFile==0.10.3.post1
tables==3.6.1
tqdm==4.50.0
urllib3==1.25.10
websocket-client==0.57.0
wxPython==4.1.0
xarray==0.16.1
xlrd==1.2.0
zope.event==4.5.0
zope.interface==5.1.0
