# draft requirements for audio-codes.py
pyzbar>=0.1.9
opencv-python>=4.9.0.80
numpy>=1.26.4
click>=8.1.7
pydantic>=2.7.1
sounddevice>=0.5.1
scipy>=1.14.1
pydub>=0.25.1
pyaudio>=0.2.14
reedsolo>=1.7.0
psychopy
psychopy-sounddevice
