# Test with pytest and hatch
name: PyTest

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  pytest:
    name: Test with pytest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - '3.10'
    steps:
    - name: Configure environment
      run: |
        git config --global user.name "reprostim-test"
        git config --global user.email "reprostim-test@example.com"
        uname -a
        date -Is
        date -u

    - name: Checkout source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python }}

    - name: Install hatch and virtual environment
      run: |
        pwd
        ls -l
        echo "- STEP 1"
        pip install --user "hatch==1.14.1" "click<8.3" "virtualenv<21"
        echo "- STEP 2"
        hatch env create
        echo "- STEP 3"
        hatch run pip install --upgrade pip
        echo "- STEP 4"
        hatch run pip install pytest pytest-cov reedsolo scipy
      shell: bash

    - name: Install reprostim
      run: |
        hatch run pip install -e .
        hatch build

    - name: Run pytest
      run: |
        # python -m pytest -vv tests --cov=. --cov-report=xml
        hatch run pytest -vv tests --cov=. --cov-report=xml
      shell: bash

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
